checkpoints/** filter=lfs diff=lfs merge=lfs -text
checkpoints/**/*.pt filter=lfs diff=lfs merge=lfs -text
checkpoints/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
*.safetensors.gz filter=lfs diff=lfs merge=lfs -text
